input{
    margin-left: 500px;
    font-size: 40px;
    border-radius: 9999px;
    box-shadow: 0 0 100px  blue;

}
button{
     margin-left: 650px;
    font-size: 40px;
    border-radius: 9999px;
    box-shadow: 0 0 100px  blue;
}
p{
     margin-left: 50px;
    font-size: 40px;
    color: black;
    margin-top: 10px;
}
.c{
    margin-left: 500px;
    font-size: 40px;
    color: red;
}
body{
    background-color: black;
    padding-bottom:500px ;

}
.m{
    margin-left: 650px;
}
.v{

}
h1{
    margin-left: 370px;
    color: black;

}
div{

    color: white;

}
.cx{

    background-color: white;
    margin-left: 500px;
    margin-right: 490px;
    border-radius: 9999px;
    box-shadow: 0 0 100px  blue;



}
h2{
    margin-left: 350px;
    color: black;
    font-size: 30px;
    margin-top: 40px;
    margin-top: 40px;

}
.gh{
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 9999px;
    box-shadow: 0 0 100px #1131ff;
}
.lo{
    background-color: white;
    margin-left: 500px;
    margin-right: 490px;
    border-radius: 9999px;
    box-shadow: 0 0 100px  blue;
}
h3{
    margin-left: 350px;
    color: black;
    font-size: 30px;
}
h4{
    margin-left: 320px;
    color: black;
    font-size: 30px;
}
.x{
    background-color: white;
    margin-left: 500px;
    margin-right: 490px;
    border-radius: 9999px;
    box-shadow: 0 0 100px  blue;
    margin-top: 1px;
}
h5{
     margin-left: 360px;
    color: black;
    font-size: 30px;
}
.df{
    display: inline;

}
h6{
    margin-left: 670px;
    font-size: 40px;
    color: white;
    margin-bottom: 30px;
}
.k{
    display: block;
    box-shadow: 0 0 100px #1919bd;
    font-size: 50px;
    background-color: black;

}
.jk{
    margin-left: 660px;
    font-size: 40px;
    color: red;
}
.h7{
    margin-left: 500px;
    color: white;
    font-size: 60px;

}
.l{
    background-color: white;
    margin-left: 500px;
    margin-right: 500px;
    border-radius: 9999px;
    box-shadow: 0 0 100px  blue;
    margin-top: 1px;
}
a{
    margin-right: 30px;
    margin-left: 30px;
    color: white;

}